.DS_Store
\#auto_saved_files\#
/PCB/Oath-66-Duo-backups
/PCB/production
/PCB/fp-info-cache
/PCB/~Oath-66-Duo.kicad_sch.lck
/PCB/~_autosave-Oath-66-Duo.kicad_pcb.lck
/PCB/_autosave-Oath-66-Duo.kicad_pcb
/PCB/~Oath-66-Duo.kicad_pcb.lck
/PCB/fabrication-toolkit-options.json
